.intro-header.big-img .travel-heading {
    padding: 100px 0;
    color: #FFF;
    text-shadow: 1px 1px 3px #000;
}

.intro-header .travel-heading .travel-subheading {
    font-size: 27px;
    line-height: 1.1;
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 10px 0 0;
}
.intro-header .travel-heading .travel-subheading {
    margin-bottom: 20px;
}

.intro-header.big-img .travel-heading .travel-subheading {
    font-weight: 400;
}